#!/usr/bin/make -f

export PATH := /usr/lib/go-1.22/bin:$(PATH)
export CGO_ENABLED := 1
export GO111MODULE := on
export GOTOOLCHAIN := local
export GOPROXY := off
export GOSUMDB := off

APP_VERSION := $(shell dpkg-parsechangelog -SVersion | sed 's/-.*//')

%:
	dh $@

override_dh_auto_build:
	debian/prepare-go.sh
	go build -mod=vendor -buildvcs=false \
		-ldflags "-X main.appVersion=$(APP_VERSION)" -o dback-linux .

override_dh_auto_install:
	install -d debian/dback/usr/lib/dback
	install -m 0755 dback-linux debian/dback/usr/lib/dback/dback
	install -d debian/dback/usr/bin
	install -m 0755 packaging/dback-launcher.sh debian/dback/usr/bin/dback
	install -d debian/dback/usr/share/applications
	install -m 0644 packaging/dback.desktop debian/dback/usr/share/applications/dback.desktop
	install -d debian/dback/usr/share/icons/hicolor/256x256/apps
	install -d debian/dback/usr/share/icons/hicolor/48x48/apps
	install -m 0644 logo.png debian/dback/usr/share/icons/hicolor/256x256/apps/dback.png
	install -m 0644 logo.png debian/dback/usr/share/icons/hicolor/48x48/apps/dback.png

override_dh_auto_clean:
	rm -f dback-linux
	rm -rf debian/go
	dh_auto_clean

override_dh_dwz:
	@true
